* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    min-height: 100svh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1,7rem;
}

p {
    font-weight: 400;
}

span {
    color: #d3233a;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    width: 40%;
    height: 60%;
    background-color: blanchedalmond;
    border-radius: 15px;
}

.status {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-top: 20px;
}

.user-form label{
    margin-top: 20px;
    color: #151947;
    font-weight: 700;
}

.user-form input{
    border-radius: 50px;
    border: 1px solid #151947;
    font-weight: 700;
    padding: 5px 10px;
}

.user-form button{
    background-color: #151947;
    color: #fff;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px;
}